<div class="container-fluid">
    <div class="row ">
      <div class="col-sm-12 col-lg-6">
        <h3 class="support-text">Asegúrate de estar siempre a tiempo y nunca te pierdas una alarma de nuevo.</h3>
        <div class="landing-form">
          <h1 class="main-text">Santa Marta 02:00 PM</h1>
          <button class="light-button" routerLink="/login">INICIAR SESIÓN</button>
          <button class="dark-button" routerLink="/register" routerLinkActive="active">REGISTRAR</button>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <img class="img-fluid" id="landing-img" src="/assets/landing-image.jpg">    
      </div>
    </div>
</div>
    