<div class="container-fluid text-center">
    <div class="row align-items-start ">
      <div class="col">
        <img class="img-fluid" id="login-img" src="/assets/login-image.jpg">      
      </div>
      <div class="col login-panel" >
        <h1 class="main-text">INICIAR SESIÓN</h1>
        <input type="text" class="register-input" placeholder="Ingrese e-mail">
          <br>
        <input type="text" class="register-input" placeholder="Ingrese contraseña">
        <br>
        <button class="light-button">INICIAR SESIÓN</button>
        <button class="dark-button">REGISTRAR</button>
      </div>
      
    </div>
</div>
    