<div class="container-fluid">
    <div class="row ">
      <div class="col-sm-12 col-lg-6">
        <div class="create-form">
          <h1 class="main-text">CREAR ALARMA</h1>
          <input type="time" class="form-control input-create"  name="" id="" value="05:30:00">
          <label for="input-group" class="form-label">REPETIR</label>
          <div class="input-group mb-3" name="input-group">
            <button class="btn btn-outline-secondary" type="button">LUN</button>
            <button class="btn btn-outline-secondary" type="button">MAR</button>
            <button class="btn btn-outline-secondary" type="button">MIE</button>
            <button class="btn btn-outline-secondary" type="button">JUE</button>
            <button class="btn btn-outline-secondary" type="button">VIE</button>
            <button class="btn btn-outline-secondary" type="button">SAB</button>
            <button class="btn btn-outline-secondary" type="button">DOM</button>
          </div>
        
          <label for="input-group" class="form-label">VIBRACIÓN (MOVIL)</label>
          <div class="input-group mb-3" name="input-group">
            <button class="btn btn-outline-secondary" type="button">INACTIVA</button>
            <button class="btn btn-outline-secondary" type="button">ALTA</button>
            <button class="btn btn-outline-secondary" type="button">MEDIO</button>
            <button class="btn btn-outline-secondary" type="button">BAJA</button>
          </div>

          <label for="input-group select-group" class="form-label">SONIDO</label>
          <div class="input-group mb-3" name="input-group">
            <button class="btn btn-outline-secondary" type="button">INACTIVA</button>
            <button class="btn btn-outline-secondary" type="button">ALTA</button>
            <button class="btn btn-outline-secondary" type="button">MEDIO</button>
            <button class="btn btn-outline-secondary" type="button">BAJA</button>
          </div>
          <input type="text" class="form-control input-create"  name="" id="contact-number" placeholder="Número celular contacto confianza">
          <input type="text" class="form-control input-create"  name="" id="time" placeholder="Notificar después de (mín)">
          <button class="btn dark-button" routerLink="/succes">CREAR ALARMA</button>
        </div>
        
      </div>
      <div class="col-sm-12 col-lg-6">
        <img class="img-fluid" id="create-img" src="/assets/create_alarm_image.jpg">    
      </div>
    </div>
</div>
    