<div class="container-fluid text-center">
    <div class="row align-items-start ">
      <div class="col-sm-12 col-md-12 col-lg-6 border-right">
        <h3 class="support-text">CREA TU CUENTA</h3>
        <div class="register-form">
          <input type="text" class="register-input" placeholder="Ingrese nombre o alias">
          <br>
          <input type="text" class="register-input" placeholder="Ingrese e-mail">
          <br>
          <input type="text" class="register-input" placeholder="Inrese contraseña">
          <br>
          <input type="text" class="register-input" placeholder="Repita contraseña">
          <button class="dark-button">REGISTRAR</button>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 ">
        <img class="img-fluid" id="register-img" src="/assets/register-image.jpg">
      </div>
    </div>
</div>
    